{
    "extends": [
        "eslint-config-wesbos"
    ],
    "rules": {
        "no-unused-vars": 0,
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "no-console":"off",
        "func-names":"off",
        "prettier/prettier": [
            "error",
        ],
    }
}