@import 'utils/mixins';
.banner {
    position: relative;
    min-height: 880px;
    header {
        position: fixed;
        z-index: 999;
        width: 100%;
        .row {
            transition: background-color .1s linear .1s;
            .header_content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all .5s;
                padding: 3rem 0;
                @media (max-width: width(tableWidth)) {
                    padding: 20px 0 0 0;
                    overflow-y: hidden;
                }
                .header_content__icon {
                    position: relative;
                    z-index: 99999;
                    cursor: pointer;
                    img {
                        @media (max-width: width(smDesktopWidth)) {
                            width: 140px;
                            height: auto;
                        }
                    } 
                }
                .navigation {
                    height: auto;
                    @media (max-width: width(tableWidth)) {
                        transition: height linear .25s, top .5s;
                        overflow: hidden;
                        height: 0px;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        padding: 0 15px;
                        background: color(headerBG);
                    }
                    .header_content__menu {
                        @media (max-width: width(tableWidth)) {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 7px 0;
                            margin-top: 60px;
                        }
                        li {
                            display: inline-block;
                            border-radius: 5px;
                            padding: 10px 15px;
                            text-align: center;
                            transition: background-color .4s ease-in;
                            @media (max-width: width(tableWidth)) {
                                width: 100%;
                            }
                            a {
                                font-size: 18px;
                                font-weight: 400;
                                text-transform: uppercase;
                                transition: color .3s ease-in-out .2s;
                                @media (max-width: width(smDesktopWidth)) {
                                    font-size: 16px;
                                }
                            }
                        } 
                    }
                }
                .navigation--active {
                    @extend .navigation;
                    height: 269px !important;
                }
            }
        }
    }
    .header--fixed{
        background: color(headerBG);
    }
    .row--active{
        background-color: color(headerBG);
    }
}
.burger_btn {
    cursor: pointer;
    background: transparent;
    position: relative;
    z-index: 99999;
	display: none;
	height: 40px;
	width: 40px;
	border: 0;
	transition: transform .2s;
    outline: none;
    &:active,
    &:focus {
        outline:none;
    }
    @media (max-width: width(tableWidth)) {
        display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    }	
}
.bar2, .bar1, .bar3 {
    @extend %btn__bars;
}
.bar2 {
    margin:4px 0;
}
.bar2--active {
        background:transparent;
}
.bar1--active {
    @include bar_transform(17%,translateY(50%) rotate(45deg));
} 
.bar3--active {
    @include bar_transform(-16%,translateY(-50%) rotate(-45deg));
}
.menu_item--active {
    color: color(textOnLight)!important;
}
.li--active {
    @extend %links-active;
}
@media (max-width: width(tableWidth)) {
    .mask {
		transition: opacity .5s;
        background: color(headerBG);
        visibility: hidden;
        position: fixed;
        opacity: 0;
        z-index: 998;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
    .mask--active {
        visibility: visible;
        opacity: .5;
	}
}

/* Баннер */
.banner__wrapper {
    background: url('/assets/img/banner_BG.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    .banner-main {
        width: 100%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        .banner-content {
            text-align: center;
            .section-content__title {
                @include title (color(textOnDark),100,60px,70px);
                @media (max-width: width( smDesktopWidth)) and (min-width: width(tableWidth)) {
                    font-size: 54px;
                }
                @media (max-width: width(tableWidth)) and (min-width: width(smPhoneWidth)) {
                    font-size: 34px;
                    line-height: 40px;
                }
            }
            .section-content__subtitle {
                @include title (color(textOnDark),500,60px,normal);
                @media (max-width: width( smDesktopWidth)) and (min-width: width(tableWidth)) {
                    font-size: 54px;
                }
                @media (max-width: width(tableWidth)) and (min-width: width(smPhoneWidth)) {
                    font-size: 34px;
                }
            }
        }
        form {
            padding-top: 80px;
            text-align: center;
            @media (max-width: width(tableWidth)) {
                padding-top: 30px;
            }
            input {
                color: color(textOnDark);
                @include common-inputs(1px,color(textOnDark),transparent,20px 0 20px 20px);
                @media (max-width: width(tableWidth)) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            button {
                cursor: pointer;
                transition: all .2s linear;
                @include common-inputs(1px,color(buttons_mainBg),color(buttons_mainBg),20px 35px);
                &:hover {
                    background: transparent;
                    color: color(buttons_mainBg);
                }
                @media (max-width: width(tableWidth)) {
                    width: 100%;
                }
            }
        }
    }
}



