/* FOR HEADER */
%links-active {
    background-color: color(buttons_mainBg);
}

%btn__bars {
	position: relative;
	background: color(textOnDark);
	display: block;
    border-radius: 2px;
	height: 4px;
	width: 24px;
	transition: all .4s;
}