/* FOR HEADER */
@import 'utils/mixins';
%links-active {
    background-color: color(buttons_mainBg);
}

%btn__bars {
	position: relative;
	background: color(textOnDark);
	display: block;
    border-radius: 2px;
	height: 4px;
	width: 24px;
	transition: all .4s;
}

%h {
	@include h (30px,700,15px 0);
	@media (max-width: width(desktopWidth)) and (min-width: width(smDesktopWidth)) {
		font-size: 28px;
	}
	@media (min-width: width(tableWidth)) and (max-width: width(smDesktopWidth)) {
		font-size: 20px;
	}
}

%p {
	@include p (18px,300,30px,0.7);
}