@import '../../node_modules/bootstrap/scss/bootstrap-grid';

@import 'utils/vars';
@import 'utils/func';
@import 'utils/fonts';
@import 'utils/extends';
@import 'modules/header';
@import 'modules/about';
@import 'modules/team';
@import 'modules/macbook';
@import 'modules/app';

* {box-sizing: border-box;}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $mainFont;
  font-weight: 300;
  color: color(textOnLight);
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
    text-decoration: none;
    color: color(textOnDark);
  &:hover {
      color: color(links_hover);
  }
}


